<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% items.forEach(item => { %>
      <div class="item">
        <input class="checkbox" type="checkbox" name="<%= item._id %>" <%= item.completed? "checked" : "" %>>
        <p><%=  item.task  %></p>
        <span class="delete-item"></span>
      </div>
    <% }) %>

      <form class="item" action="/add/<%= listTitle %>" method="post">
        <input id="new-item-input" type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" >+</button>
      </form>
  </div>

<%- include("footer") -%>
