<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <!-- start foreach -->
    <% items.forEach(item => { %>
      <div class="item">
        <input class="checkbox" type="checkbox" name="<%= item._id %>" <%= item.completed? "checked" : "" %>>
        <p><%=  item.task  %></p>
      </div>
    <% }) %>
    <!-- end foreach -->

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle.toLowerCase().includes('work') ? 'work' : 'home' %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
