<%- include("header") -%>



  <div class="box" id="heading">
    <h1 contenteditable="true" class="list-name"> <%= listTitle %></h1>
    <button id="btn-new-list">new list</button>
  </div>


  <div class="box">
    <% items.forEach(item => { %>
      <div class="item">
        <input class="checkbox" type="checkbox" name="<%= item._id %>" <%= item.completed? "checked" : "" %>>
        <p contenteditable="true" class="task" id="<%= item._id %>"><%=  item.task  %></p>
        <span class="delete-item"></span>
      </div>
    <% }) %>

      <form class="" action="/add/<%= listTitle %>" method="post">
        <input id="new-item-input" type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
        <button type="submit" name="list" >+</button>
      </form>
  </div>

<%- include("footer") -%>
